{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Sårbarhetsoversikten Oslo kommune</title>
		<link rel="stylesheet" href="{% static 'css/tablesorter/filter.formatter.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/tablesorter/theme.default.min.css' %}">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">
		<link rel="stylesheet" href="{% static 'css/tables.css' %}">
	</head>

	<body>

		<div class="top-nav">
			<a href="{% url 'home' %}" class="top-nav-brand">Sårbarhetsoversikten</a>
			<nav class="top-nav-menu">
				<ul>
					<li><a href="https://kartoteket.oslo.kommune.no/rapport/vulnstats/overview/" target="_blank">Qualys-data</a></li>

					{% url 'cve' as url_cve %}
					<li><a href="{{ url_cve }}" {% if url_cve in request.path %} class="active" {% endif %}>CVEs</a></li>

					{% url 'cisa_known' as url_cisa_known %}
					<li><a href="{% url 'cisa_known' %}" {% if url_cisa_known in request.path %} class="active" {% endif %}>KnownExploited</a></li>

					{% url 'news' as url_news %}
					<li><a href="{% url 'news' %}" {% if url_news in request.path %} class="active" {% endif %}>News</a></li>

					{% url 'shodan' as url_shodan %}
					<li><a href="{% url 'shodan' %}" {% if url_shodan in request.path %} class="active" {% endif %}>Shodan</a></li>

					{% url 'haveibeenpwned' as url_haveibeenpwned %}
					<li><a href="{% url 'haveibeenpwned' %}" {% if url_haveibeenpwned in request.path %} class="active" {% endif %}>HaveIBeenPwned</a></li>

					<li><a href="https://portal.azure.com/#view/Microsoft_AAD_IAM/ManagedAppMenuBlade/~/SignIns/objectId/eaf27a8e-00ad-4070-ace7-5e06474d8287/appId/dfa72c7a-4ffc-400c-a980-c49edce8b49e/preferredSingleSignOnMode~/null/servicePrincipalType/Application/fromNav/" target="_blank">Pålogginger</a></li>

					{% comment %}
					<li><a href="{% url 'defender_vulnerabilities' %}">Defender Vulnerabilities</a></li>
					<li><a href="{% url 'software_list_server' %}">Software</a></li>
					<li><a href="{% url 'nessus' %}">Nessus</a></li>
					{% endcomment %}

				</ul>
			</nav>
		</div>

		<!-- Scan Status Section -->
		{% if scan_status %}
		<div class="scan-status-container">
			{% for latest_scan in scan_status %}
				<div class="scan-status">
					<div class="scan-header">
						<h2 class="status-title">{{ latest_scan.scan_type }}</h2>
						<p class="time-ago">{{ latest_scan.completed_at|timesince }} ago</p>
					</div>
					<p class="status-info">Status:
						{% if latest_scan.status == "success" %}
							<span class="status-icon status-success"></span> Completed
						{% else %}
							<span class="status-icon status-error"></span> Error
						{% endif %}
					</p>
				</div>
			{% endfor %}
		</div>
		{% endif %}


		<div class="dashboard-container">
			{% block content %}
			{% endblock %}
		</div>

	<script src="{% static 'js/jquery-3.7.1.min.js' %}"></script>
	<script src="{% static 'js/jquery.tablesorter.min.js' %}"></script>
	<script src="{% static 'js/base.js' %}"></script>
	<script src="{% static 'js/jquery.tablesorter.widgets.min.js' %}"></script>
	<script src="{% static 'js/parser-network.min.js' %}"></script>
	<script src="{% static 'js/jquery.mark.min.js' %}"></script>
	<script src="{% static 'js/tableexport/xlsx.core.min.js' %}"></script>
	<script src="{% static 'js/tableexport/FileSaver.min.js' %}"></script>
	<script src="{% static 'js/tableexport/tableexport.js' %}"></script>

	<script type="text/javascript" nonce="{{request.csp_nonce}}">
	$(document).ready(function(){

		// tableexport must be loaded before tablesorter
		TableExport.prototype.types.date.assert = function(value){
			return false;
		};
		$(".excel").tableExport({
			headers: true,
			footers: true,
			formats: ["xlsx",],
			filename: 'id',
			bootstrap: false,
			position: "top",
			exportButtons: true,
			ignoreRows: null,
			ignoreCols: null,
			trimWhitespace: true,
		});

		$(".tablesorter").tablesorter({
			theme: 'default',
			widgets : ["filter",],
			widgetOptions : {
				filter_liveSearch : true,
				filter_searchFiltered: true,
				filter_placeholder: { search : '' },
				filter_columnFilters: true,
				filter_ignoreCase : true,
				filter_startsWith : false,
			}
		})

		{% if mark_words %}
		$(".main-content").mark(
				{{mark_words|safe}},
				options = {
					"accuracy": "exactly",
					"separateWordSearch": false
				}
			);
		{% endif %}

	})
	</script>



	</body>
</html>