{% extends 'base.html' %}
{% load static %}
{% load form_tags %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/filters.css' %}">
<link rel="stylesheet" href="{% static 'css/cve_table.css' %}">
<main class="main-content" style="width:100%">

	<div class="filter-section">
		{% if heading == 'cve' %}
		<div class="filter-header">
			<h2>NIST CVE - Oslo kommune products</h2>
			<p style="text-align: center;">This page shows all newly published NIST vulnerabilities (CVE) last {{ number_days}} days with a score of {{cvss_limit}} or higher, combined with a <a href="{% url 'cve_keywords' %}">software or component</a> Oslo kommune has in production. You can also see <a href="{% url 'cve_without' %}">all vulnerabilities except tagged ones</a></p>
		</div>
		{% endif %}
		{% if heading == 'cve_without' %}
		<div class="filter-header">
			<h2>NIST CVE - Everything else</h2>
			<p style="text-align: center;">This page shows all newly published NIST vulnerabilities (CVE) last {{ number_days}} days with a score of {{cvss_limit}} or higher, where no match was made against Oslo kommunes products. You can also see <a href="{% url 'cve' %}"> vulnerabilities with match</a></p>
		</div>
		{% endif %}
	</div>


		{% for day in days %}
			<h2>{{ day.datetime|date:"d. F" }}</h2>
			<section class="vulnerabilities-list" id="latest">
			{% for cve in day.cves %}
				<article class="cve">
					 <div class="cve-header">
						<h3 class="cve-title"><a style="text-decoration: none; color: black;" target="_blank" href="https://nvd.nist.gov/vuln/detail/{{ cve.cve_id }}">{{ cve.cve_id }}</a> <span style="font-size: 11px;">({{ cve.vuln_status }})</h3>
							<div class="cve-tags">
								{% if cve.known_exploited %}
									<div class="cve-tag known-exploited">Known Exploited</div>
								{% endif %}
								<div class="cve-tag cve-criticality {{ cve|get_criticality_level }}">
									{{ cve|get_criticality_level }} {{ cve.cvss_score }}
								</div>
							</div>
					</div>
					<!-- Check the length of the description and truncate if necessary -->
					<p class="cve-description">
						<b>{{ cve.source_identifier }}</b>: {{ cve.description|slice:":700" }}
					</p>
					<div class="cve-details">
						<span>Published: {{ cve.published_date|date:"M d, Y" }}</span>
						<span>Last Modified: {{ cve.last_modified_date|date:"M d, Y" }}</span>
					</div>
					{% if cve.keywords %}
						<div class="cve-keywords">
						{% for keyword in cve.keywords_list %}
							<a target="_blank" href="https://kartoteket.oslo.kommune.no/sok/?search_term={{keyword}}">{{ keyword }}</a>
							{% if not forloop.last %}, {% endif %}
						{% endfor %}
						</div>
					{% endif %}
				</article>
			{% empty %}
				<p>No vulnerabilities found.</p>
			{% endfor %}
			</section>
		{% endfor %}



</main>


{% endblock %}




